gymnasium[atari]
gymnasium[accept-rom-license]
gymnasium[other]
stable-baselines3
moviepy
ale-py
torch
torchvision
tensorboard
matplotlib
seaborn
opencv-python
imageio
imageio-ffmpeg
numpy
pandas
tqdm
jupyter
ipython
rich